@media (max-width: 960px) {
    .header__menu-btn {
        display: block;
    }
    .header__menu > ul {
        display: none;
        position: absolute;
        z-index: 2;
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: $grey;
        border-bottom: 5px solid $bg;
    }
    .header__menu li {
        display: block;
        text-align: center;
    }
    .header__menu li + li {
        margin-left: 0;
    }
    .header__drop-down.drop-down + .header__link-blog {
        margin-left: 0;
    }
    .header__drop-down.drop-down {
        margin-left: 0;
    }
    .header__drop-down.drop-down + .header__drop-down.drop-down {
        margin-left: 0;
    }
    .header__menu a {
        padding: 12px 0 12px 11px;
        font-weight: 400;
        display: block;
        text-transform: none;
    }
    .header__menu li + li a {
        border-top: 1px solid #e7e7e7;
    }
    .header__drop-down.drop-down:hover .drop-down__list {
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all .3s;
    }
    .header__drop-down.drop-down .drop-down__list {
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all .3s;
        position: static;
        width: 100%;
        border-bottom: none;
        padding: 0;
    }
    .header__drop-down.drop-down .drop-down__list.active {
        height: auto;
        overflow: visible;
        opacity: 1;
        transition: all .3s;
    }
    .header__drop-down.drop-down:hover > a {
        color: #000;
        border-top: 1px solid #e7e7e7;
        background-color: #fff;
        transition: all .0s;
    }
    .header__drop-down > a.active::after {
        transform: rotate(180deg);
    }
    .items__inner {
        flex-wrap: wrap;
    }
    .item {
        width: 50%;
        margin-bottom: 20px;
    }
    .clients-logo {
        padding-left: 15px;
    }
}
@media (max-width: 900px) {
    .services__items {
        display: block;
    }
    .services__item {
        max-width: 100%;
        min-height: 300px;
        margin: 30px auto;
    }
    .footer__inner {
        flex-wrap: wrap;
    }
    .footer__item-social {
        width: 60%;
        margin-top: 20px;
    }
}
@media (max-width: 780px) {
    .clients__inner {
        flex-wrap: wrap;
    }
    .testimonials {
        max-width: 100%;
        padding: 0 15px;
    }
}
@media (max-width: 720px) {
    .footer__item-content {
        width: 100%;
        margin-bottom: 20px;
    }
}
@media (max-width: 670px) {
    .book {
        min-height: 333px;
    }
    .book__inner {
        padding: 80px 0 60px;
        &-title {
            margin-bottom: 15px;
            font-size: 35px;
        }
        &-text {
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 25px;
        }
    }
    .item {
        padding-right: 0;
        width: 100%;
    }
    .clients-logo__images img {
        max-width: 100%;
    }
    .footer__item-social {
        width: 100%;
    }
}
@media (max-width: 520px) {
    .book__inner {
        &-title {
            font-size: 22px;
        }
        &-text {
            font-size: 18px;
        }
    }
    .services__title {
        font-size: 35px;
    }
}
@media (max-width: 440px) {
    .slider__title {
        font-size: 40px;
    }
    .footer__item-contact {
        width: 100%;
        margin-top: 20px;
    }
    .footer__inner {
        justify-content: flex-start;
    }
}
@media (max-width: 420px) {
    .slider__item-title {
        font-size: 40px;
        line-height: 45px;
        margin-left: 20px;
    }
}
@media (max-width: 360px) {
    ul.footer__social li {
        width: 33.333%;
    }
}


@media (min-width: 960px) {
    .header__menu > ul {
        display: block !important;
    }
}